<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289498126212-1dut3h221f9of2v89dj7siu5o08tihf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289498126212-1dut3h221f9of2v89dj7siu5o08tihf8</string>
	<key>API_KEY</key>
	<string>AIzaSyATZgOo2KClX7WSLtuEy5RDD-QvIPgv3nc</string>
	<key>GCM_SENDER_ID</key>
	<string>289498126212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petitcoding.rndm</string>
	<key>PROJECT_ID</key>
	<string>rndm-a475a</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-a475a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289498126212:ios:1480d46db5906f5e</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-a475a.firebaseio.com</string>
</dict>
</plist>